# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

In [2]:
#show me the CSV!
df = pd.read_csv('output_data/cities.csv')
df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,0,san roque,36.2107,-5.3842,59.00,67,75,13.80,ES,1612551867
1,1,bengkulu,-3.8004,102.2655,76.48,85,72,4.85,ID,1612551690
2,2,kozhva,65.1073,57.0459,-8.05,91,99,8.21,RU,1612551867
3,3,rikitea,-23.1203,-134.9692,78.80,69,0,10.65,PF,1612551794
4,4,saint-philippe,-21.3585,55.7679,80.60,65,0,5.75,RE,1612551683
...,...,...,...,...,...,...,...,...,...,...
576,576,morondava,-20.2833,44.2833,82.87,82,100,10.38,MG,1612551684
577,577,port augusta,-32.5000,137.7667,64.40,77,90,6.91,AU,1612551938
578,578,la crosse,43.8014,-91.2396,12.00,61,75,24.16,US,1612551938
579,579,dosso,13.0490,3.1937,82.45,15,0,8.77,NE,1612551938
580,580,boa vista,2.8197,-60.6733,87.80,51,90,14.97,BR,1612551938

In [3]:
#grab locations by lat and long
locations = df[["Lat", "Lng"]]

#grab humidity column for weight
weight = df['Humidity']

In [5]:
#plot heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight,
                                 dissipating=False, max_intensity=300,
                                 point_radius=5)
# Add layer
fig.add_layer(heat_layer)

plt.savefig('output_data/heat_map.png')

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#narrow down the cities by desired weather conditions
narrow_cities =  df.loc[(df["Humidity"] < 80) & (df["Humidity"] > 10) & (df["Cloudiness"] == 0) & (df["Temp"] > 75.00) & (df["Temp"] < 80.00) & (df["Wind"] < 10.00)].reset_index(drop=True)
del narrow_cities["Unnamed: 0"]
narrow_cities

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,castro,-24.7911,-50.0119,75.56,53,0,6.42,BR,1612551878
1,obo,5.3998,26.4869,79.39,20,0,7.25,CF,1612551880
2,mar del plata,-38.0023,-57.5575,75.20,46,0,6.91,AR,1612551639
3,maradi,13.5000,7.1017,78.80,15,0,4.61,NE,1612551909
4,poum,-20.2333,164.0167,79.23,77,0,7.29,NC,1612551933

In [7]:
#add a new column to hold hotel names
hotel_df = narrow_cities
hotel_df["Hotel Name"] = ""
hotel_df

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date,Hotel Name
0,castro,-24.7911,-50.0119,75.56,53,0,6.42,BR,1612551878,
1,obo,5.3998,26.4869,79.39,20,0,7.25,CF,1612551880,
2,mar del plata,-38.0023,-57.5575,75.20,46,0,6.91,AR,1612551639,
3,maradi,13.5000,7.1017,78.80,15,0,4.61,NE,1612551909,
4,poum,-20.2333,164.0167,79.23,77,0,7.29,NC,1612551933,

In [8]:
# params dictionary to update each iteration
params = {
    "radius": 50000,
    "types": "lodging",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels in the area
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        #store the name via path into hotel name column
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df

Missing field/result... skipping.

,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date,Hotel Name
0,castro,-24.7911,-50.0119,75.56,53,0,6.42,BR,1612551878,Hotel Ponta Grossa Plateau
1,obo,5.3998,26.4869,79.39,20,0,7.25,CF,1612551880,
2,mar del plata,-38.0023,-57.5575,75.20,46,0,6.91,AR,1612551639,Gran Hotel Mar del Plata
3,maradi,13.5000,7.1017,78.80,15,0,4.61,NE,1612551909,HÃ´tel Le National
4,poum,-20.2333,164.0167,79.23,77,0,7.29,NC,1612551933,Gite de Pagop

In [9]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Create a marker_layer using the hotel name list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,
    info_box_content=[f" {name}" for name in hotel_info])

#combine figures
fig.add_layer(markers)
fig.add_layer(heat_layer)

# Display figures
fig

Figure(layout=FigureLayout(height='420px'))