# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
df = pd.read_csv('output_data/cities.csv')
df

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
0,0,hilo,19.7297,-155.0900,75.20,60,1,4.61,US,1612293749
1,1,carnarvon,-24.8667,113.6333,75.20,100,40,21.85,AU,1612293830
2,2,punta arenas,-53.1500,-70.9167,69.80,49,40,17.00,CL,1612293567
3,3,ushuaia,-54.8000,-68.3000,53.60,82,75,14.97,AR,1612293808
4,4,sobradinho,-12.8333,-39.1000,84.02,63,55,9.44,BR,1612293830
...,...,...,...,...,...,...,...,...,...,...
587,587,ramjibanpur,22.8333,87.6167,55.22,43,0,3.40,IN,1612293902
588,588,mansa,29.9833,75.3833,56.46,39,0,6.08,IN,1612293902
589,589,ipixuna,-1.7625,-48.8043,89.60,58,75,10.36,BR,1612293902
590,590,san juan,-31.5375,-68.5364,73.40,33,93,11.59,AR,1612293769
591,591,tessalit,20.1986,1.0114,71.76,19,23,8.84,ML,1612293903

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
#grab locations by lat and long
locations = df[["Lat", "Lng"]]

#grab humidity column for weight
weight = df['Humidity']

In [11]:
#plot heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=weight,
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [45]:
narrow_cities =  df.loc[(df["Humidity"] < 80) & (df["Humidity"] > 10) & (df["Cloudiness"] == 0) & (df["Temp"] > 75.00) & (df["Temp"] < 80.00) & (df["Wind"] < 10.00)]
narrow_cities

,Unnamed: 0,City,Lat,Lng,Temp,Humidity,Cloudiness,Wind,Country,Date
14,14,coihaique,-45.5752,-72.0662,75.20,43,0,4.61,CL,1612293831
29,29,madimba,-10.4000,40.3333,78.94,76,0,5.01,TZ,1612293833
327,327,pisco,-13.7000,-76.2167,77.00,65,0,8.05,PE,1612293870
411,411,mecca,21.4267,39.8261,75.45,73,0,1.97,SA,1612293843
442,442,calvinia,-31.4707,19.7760,76.71,31,0,8.23,ZA,1612293883

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure